@font-face {
    font-family: "OpenSans";
    font-style: normal;
    font-weight: 400;
    src: url(OpenSans-Regular.ttf);
}

* {
    font-family: "OpenSans";
}

html,body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    background: linear-gradient(to bottom, rgba(18,18,18,1) 0%, rgba(45,45,45,1) 100%);
    color: white;
    overflow: hidden;
}

#outer-container {
    position: relative;
    text-align: center;
    height: 90%;
    top: 5%;
}

#container {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 70%;
    margin: auto 0;
    mask-image: linear-gradient(
        to right,
        transparent 0%,
        hsla(0,0%,0%,0.4) 25%,
        black 35%,
        black 65%,
        hsla(0,0%,0%,0.4) 75%,
        transparent 100%
    );
    -webkit-mask-image: linear-gradient(
        to right,
        transparent 0%,
        hsla(0,0%,0%,0.4) 25%,
        black 35%,
        black 65%,
        hsla(0,0%,0%,0.4) 75%,
        transparent 100%
    );
    padding: 200px 0px;
}

#sessions {
    position: absolute;
    list-style-type: none;
    white-space: nowrap;
    margin: 0;
    padding: 0;
    transition: left 0.2s ease-out;
}

#sessions button {
    display: inline-block;
    position: relative;
    font-size: 5em;
    width: 6em;
    height: 7em;
    margin: 32px;
    padding: 0;
    border: 0;
    background-color: #333;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: 50% 60%;
    border-radius: 0.5em;
    transition: transform 0.2s ease-out;
}

#sessions button span {
    display: block;
    color: white;
    position: absolute;
    padding-top: 0.25em;
    top: 0;
    width: 100%;
}

@keyframes breathe {
    from {
        box-shadow: 0px 0px 0.5em 0.2em rgba(255,255,255,0.75);
    }
    
    to {
        box-shadow: 0px 0px 0.6em 0.2em rgba(255,255,255,1);
    }
}

button:focus {
    animation-name: breathe;
    animation-duration: 0.75s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    transform: scale(1.1);
}

button, button:focus, button:active {
    outline: none !important;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#messages {
    width: 100%;
    float: left;
}

#footer button {
    font-size: 2em;
    border: 0;
    padding: 0.2em;
    margin: 0.2em;
    border-radius: 1em;
    width: 2em;
    height: 2em;
    background: transparent;
    transition: transform 0.1s ease-out;
}

#footer button img {
    width: 80%;
    height: 80%;
}
